<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>http://192.168.1.88:8080</string>
	<string>http://192.168.1.53:8080</string>
	<string>http://192.168.1.53:8088</string>
	<string>http://192.168.1.57:8089</string>
</array>
</plist>
