<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>泰坦尼克号 Titanic (1997)</string>
	<string>艺术家 The Artist (2011)</string>
	<string>阳光姐妹淘 써니 (2011)</string>
	<string>两小无猜 Melody (1971)</string>
	<string>月升王国 Moonrise Kingdom (2012)</string>
	<string>王子殿下 Your Highness (2011)</string>
	<string>布吉舞 Стиляги (2008)</string>
	<string>海盗电台 The Boat That Rocked (2009)</string>
	<string>独家新闻 Scoop (2006)</string>
	<string>127小时 127 Hours (2010)</string>
	<string>摇滚年代 Rock of Ages (2012)</string>
	<string>通往仙境 To the Wonder (2012)</string>
	<string>绝代艳后 Marie Antoinette (2006)</string>
	<string>雨中曲 Singin' in the Rain (1952)</string>
	<string>摩登时代 Modern Times (1936)</string>
	<string>宿醉2 The Hangover Part II (2011)</string>
	<string>泰迪熊 Ted (2012)</string>
	<string>贫民窟的百万富翁 Slumdog Millionaire (2008)</string>
	<string>涉外大饭店 The Best Exotic Marigold Hotel (2011)</string>
	<string>黑暗阴影 Dark Shadows (2012)</string>
	<string>一夜狂欢 A Hard Day's Night (1964)</string>
	<string>我与梦露的一周 My Week with Marilyn (2011)</string>
	<string>女人就是女人 Une femme est une femme (1961)</string>
	<string>在路上 On the Road (2012)</string>
	<string>悬崖上的金鱼姬 崖の上のポニョ (2008)</string>
	<string>太坏了 Superbad (2007)</string>
	<string>疯狂愚蠢的爱 Crazy, Stupid, Love (2011)</string>
	<string>巴黎，我爱你 Paris, je t'aime (2006)</string>
	<string>荒野生存 Into the Wild (2007)</string>
	<string>四个婚礼和一个葬礼 Four Weddings and a Funeral (1994)</string>
	<string>独裁者 The Dictator (2012)</string>
	<string>喜剧之王 The King of Comedy (1982)</string>
	<string>一天 One Day (2011)</string>
	<string>单身男子 A Single Man (2009)</string>
	<string>里约大冒险 Rio (2011)</string>
	<string>被解救的姜戈 Django Unchained (2012)</string>
	<string>大傻瓜 Vollidiot (2007)</string>
	<string>天才一族 The Royal Tenenbaums (2001)</string>
	<string>超级英雄 Super (2010)</string>
	<string>狗镇之主 Lords of Dogtown (2005)</string>
	<string>篮球日记 The Basketball Diaries (1995)</string>
	<string>八部半 8½ (1963)</string>
	<string>龙虎少年队 21 Jump Street (2012)</string>
	<string>让子弹飞 (2010)</string>
	<string>蝙蝠侠：黑暗骑士 The Dark Knight (2008)</string>
	<string>一周 One Week (1920)</string>
	<string>四头狮子 Four Lions (2010)</string>
	<string>社交网络 The Social Network (2010)</string>
	<string>X计划 Project X (2012)</string>
	<string>芭萨提的颜色 Rang De Basanti (2006)</string>
	<string>罗马假日 Roman Holiday (1953)</string>
	<string>精武门 精武門 (1972)</string>
	<string>爱在黎明破晓前 Before Sunrise (1995)</string>
	<string>白日梦国度 Daydream Nation (2010)</string>
	<string>触不可及 Intouchables (2011)</string>
	<string>大师 The Master (2012)</string>
	<string>我爱你莫里斯 I Love You Phillip Morris (2009)</string>
	<string>操行零分 Zéro de conduite: Jeunes diables au collège (1933)</string>
	<string>两小无猜 Jeux d'enfants (2003)</string>
	<string>现代启示录 Apocalypse Now (1979)</string>
	<string>低俗小说 Pulp Fiction (1994)</string>
	<string>狗男女 Go (1999)</string>
	<string>无敌破坏王 Wreck-It Ralph (2012)</string>
	<string>魔法师的学徒 The Sorcerer's Apprentice (2010)</string>
	<string>城市之光 City Lights (1931)</string>
	<string>登堂入室 Dans la maison (2012)</string>
	<string>金玉满堂 金玉滿堂 (1995)</string>
	<string>指环王1：魔戒再现 The Fellowship of the Ring (2001)</string>
	<string>一代宗师 The Grandmaster (2013)</string>
	<string>悲惨世界 Les Misérables (2012)</string>
	<string>公民凯恩 Citizen Kane (1941)</string>
	<string>无法无天 Lawless (2012)</string>
	<string>环形使者 Looper (2012)</string>
	<string>乡下人 Hick (2011)</string>
	<string>恶魔的替身 The Devil's Double (2011)</string>
	<string>超能失控 Chronicle (2012)</string>
	<string>沉默的羔羊 The Silence of the Lambs (1991)</string>
	<string>饥饿游戏 The Hunger Games (2012)</string>
	<string>X战警：第一战 X-Men: First Class (2011)</string>
	<string>V字仇杀队 V for Vendetta (2005)</string>
	<string>西部往事 C'era una volta il West (1968)</string>
	<string>坠入 The Fall (2006)</string>
	<string>哈利·波特与死亡圣器(下) the Deathly Hallows: Part 2 (2011)</string>
	<string>逃离德黑兰 Argo (2012)</string>
	<string>西北偏北 North by Northwest (1959)</string>
	<string>猎杀本·拉登 Zero Dark Thirty (2012)</string>
	<string>迫降航班 Flight (2012)</string>
	<string>普罗米修斯 Prometheus (2012)</string>
	<string>谍影重重4 The Bourne Legacy (2012)</string>
	<string>白雪公主之魔镜魔镜 Mirror Mirror (2012)</string>
	<string>白雪公主与猎人 Snow White and the Huntsman (2012)</string>
	<string>黑衣人3 Men in Black III (2012)</string>
	<string>雨果 Hugo (2011)</string>
	<string>致命急件 Premium Rush (2012)</string>
	<string>霍比特人1：意外之旅 The Hobbit: An Unexpected Journey (2012)</string>
	<string>无耻混蛋 Inglourious Basterds (2009)</string>
	<string>变形金刚3 Transformers: Dark of the Moon (2011)</string>
	<string>飞越疯人院 One Flew Over the Cuckoo's Nest (1975)</string>
	<string>猜火车 Trainspotting (1996)</string>
	<string>盗梦空间 Inception (2010)</string>
	<string>蝙蝠侠：黑暗骑士崛起 The Dark Knight Rises (2012)</string>
	<string>康斯坦丁 Constantine (2005)</string>
	<string>搏击俱乐部 Fight Club (1999)</string>
	<string>诸神之怒 Wrath of the Titans (2012)</string>
	<string>勇敢传说 Brave (2012)</string>
	<string>出租车司机 Taxi Driver (1976)</string>
	<string>碟中谍4 Mission: Impossible - Ghost Protocol (2011)</string>
	<string>亚伯拉罕·林肯：吸血鬼猎人 Abraham Lincoln: Vampire Hunter (2012)</string>
	<string>大侦探福尔摩斯2：诡影游戏 Sherlock Holmes: A Game of Shadows (2011)</string>
	<string>功夫熊猫2 Kung Fu Panda 2 (2011)</string>
	<string>美国队长 Captain America: The First Avenger (2011)</string>
	<string>海啸奇迹 Lo imposible (2012)</string>
	<string>云图 Cloud Atlas (2012)</string>
	<string>雷神 Thor (2011)</string>
	<string>伤心小号曲 Balada triste de trompeta (2010)</string>
	<string>铁甲钢拳 Real Steel (2011)</string>
	<string>超级战舰 Battleship (2012)</string>
	<string>源代码 Source Code (2011)</string>
	<string>少年派的奇幻漂流 Life of Pi (2012)</string>
	<string>寻求正义 Seeking Justice (2011)</string>
	<string>通缉令 Wanted (2008)</string>
	<string>亡命驾驶 Drive (2011)</string>
	<string>这个杀手不太冷 Léon (1994)</string>
	<string>不明身份 Unknown (2011)</string>
	<string>复仇者联盟 The Avengers (2012)</string>
	<string>西游记大结局之仙履奇缘 (1995)</string>
	<string>异星战场 John Carter (2012)</string>
	<string>饥饿 Hunger (2008)</string>
	<string>血色将至 There Will Be Blood (2007)</string>
	<string>西游降魔篇 (2013)</string>
	<string>猩球崛起 Rise of the Planet of the Apes (2011)</string>
	<string>超凡蜘蛛侠 The Amazing Spider-Man (2012)</string>
	<string>英雄 (2002)</string>
	<string>三个火枪手 The Three Musketeers (2011)</string>
	<string>特警判官 Dredd (2012)</string>
	<string>雷神 Thor (2011) </string>
	<string>细节 The Details (2012)</string>
	<string>钢铁苍穹 Iron Sky (2012)</string>
	<string>无姓之人 Mr. Nobody (2009)</string>
	<string>本杰明·巴顿奇事 The Curious Case of Benjamin Button (2008)</string>
	<string>超市夜未眠 Cashback (2006)</string>
	<string>通灵男孩诺曼 ParaNorman (2012)</string>
	<string>天气预报员 The Weather Man (2005)</string>
	<string>反基督者 Antichrist (2009)</string>
	<string>钢琴家 The Pianist (2002)</string>
	<string>机械师 The Machinist (2004)</string>
	<string>潜水艇 Submarine (2011)</string>
	<string>碧海蓝天 Le grand bleu (1988)</string>
	<string>随心所欲 Vivre sa vie: Film en douze tableaux (1962)</string>
	<string>细节 The Details (2011)</string>
	<string>暖暖内含光 Eternal Sunshine of the Spotless Mind (2004)</string>
	<string>超脱 Detachment (2011)</string>
	<string>永远的莉莉亚 Lilya 4-ever (2002)</string>
	<string>蓝白红三部曲之蓝 Trois couleurs: Bleu (1993)</string>
	<string>嚎叫 Howl (2010)</string>
	<string>致命禁闭 Detention (2012)</string>
	<string>海扁王 Kick-Ass (2010)</string>
	<string>全面回忆 Total Recall (2012)</string>
	<string>爱 Amour (2012)</string>
	<string>生活多美好 It's a Wonderful Life (1946)</string>
	<string>双面玛莎 Martha Marcy May Marlene (2011)</string>
	<string>迷失东京 Lost in Translation (2003)</string>
	<string>绿里奇迹 The Green Mile (1999)</string>
	<string>记忆碎片 Memento (2000)</string>
	<string>生命之树 The Tree of Life (2011)</string>
	<string>安全没有保障 Safety Not Guaranteed (2012)</string>
	<string>南国野兽 Beasts of the Southern Wild (2012)</string>
	<string>我杀了我妈妈 J'ai tué ma mère (2009)</string>
	<string>捅马蜂窝的女孩 Luftslottet som sprängdes (2009)</string>
	<string>遁入虚无 Enter the Void (2009)</string>
	<string>和莎莫的500天 (500) Days of Summer (2009)</string>
	<string>点球成金 Moneyball (2011)</string>
	<string>楚门的世界 The Truman Show (1998)</string>
	<string>野草莓 Smultronstället (1957)</string>
	<string>将军号 The General (1926)</string>
	<string>男孩们回来了 The Boys Are Back (2009)</string>
	<string>逍遥骑士 Easy Rider (1969)</string>
	<string>跳支华尔兹 Take This Waltz (2011)</string>
	<string>阿甘正传 Forrest Gump (1994)</string>
	<string>四百击 Les quatre cents coups (1959)</string>
	<string>黑神驹 The Black Stallion (1979)</string>
	<string>蒂莫西的奇异生活 The Odd Life of Timothy Green (2012)</string>
	<string>乌云背后的幸福线 Silver Linings Playbook (2012)</string>
	<string>质数的孤独 La solitudine dei numeri primi (2010)</string>
	<string>末代皇帝 The Last Emperor (1987)</string>
	<string>罗拉快跑 Lola rennt (1998)</string>
	<string>神秘肌肤 Mysterious Skin (2004)</string>
	<string>卡萨布兰卡 Casablanca (1942)</string>
	<string>黑色大丽花 The Black Dahlia (2006)</string>
	<string>文科恋曲 Liberal Arts (2012)</string>
	<string>初吻 La boum (1980)</string>
	<string>成长教育 An Education (2009)</string>
	<string>锈与骨 De rouille et d'os (2012)</string>
	<string>凯文怎么了 We Need to Talk About Kevin (2011)</string>
	<string>机器人总动员 WALL·E (2008)</string>
	<string>毕业生 The Graduate (1967)</string>
	<string>美好的一年 A Good Year (2006)</string>
	<string>春天不是读书天 Ferris Bueller's Day Off (1986)</string>
	<string>蓝色情人节 Blue Valentine (2010)</string>
	<string>席德与南茜 Sid and Nancy (1986)</string>
	<string>樱花盛开 Kirschblüten - Hanami (2008)</string>
	<string>朱诺 Juno (2007)</string>
	<string>我家买了动物园 We Bought a Zoo (2011)</string>
	<string>保罗 Paul (2011)</string>
	<string>天使爱美丽 Amelie (2001)</string>
	<string>初学者 Beginners (2010)</string>
	<string>断背山 Brokeback Mountain (2005)</string>
	<string>大象的眼泪 Water for Elephants (2011)</string>
	<string>天堂电影院 Nuovo cinema Paradiso (1988)</string>
	<string>险恶 Sinister (2012)</string>
	<string>2001太空漫游 2001: A Space Odyssey (1968)</string>
	<string>奇异恐惧 A Fantastic Fear of Everything (2012)</string>
	<string>好家伙 Goodfellas (1990)</string>
	<string>永无止境 Limitless (2011)</string>
	<string>怪物旅社 Hotel Transylvania (2012)</string>
	<string>西西里的美丽传说 Malèna (2000)</string>
	<string>闪灵 The Shining (1980)</string>
	<string>情人 L'amant (1992)</string>
	<string>后窗 Rear Window (1954)</string>
	<string>蝴蝶 Le papillon (2002)</string>
	<string>德州巴黎 Paris, Texas (1984)</string>
	<string>偷自行车的人 Ladri di biciclette (1948)</string>
	<string>死亡诗社 Dead Poets Society (1989)</string>
	<string>春光乍泄 春光乍洩 (1997)</string>
	<string>灿烂人生 La meglio gioventù (2003)</string>
	<string>蓝白红三部曲之红 Trois couleurs: Rouge (1994)</string>
	<string>在某处 Somewhere (2010)</string>
	<string>红辣椒 パプリカ (2006)</string>
	<string>终结者2 Terminator 2: Judgment Day (1991)</string>
	<string>戏梦巴黎 The Dreamers (2003)</string>
	<string>罗密欧和朱丽叶 Romeo and Juliet (1968)</string>
	<string>美国往事 Once Upon a Time in America (1984)</string>
	<string>童年过后一百天 Сто дней после детства (1974)</string>
	<string>纵情四海 The Man Who Cried (2000)</string>
	<string>艳娃传 Pretty Baby (1978)</string>
	<string>呼啸山庄 Wuthering Heights (2011)</string>
	<string>精疲力尽 À bout de souffle (1960)</string>
	<string>玛戈皇后 La reine Margot (1994)</string>
	<string>教父2 The Godfather: Part Ⅱ (1974)</string>
	<string>那些年，我们一起追的女孩  (2011)</string>
	<string>潜水钟与蝴蝶 Le scaphandre et le papillon (2007)</string>
	<string>大鱼 Big Fish (2003)</string>
	<string>狂人皮埃罗 Pierrot le fou (1965)</string>
	<string>壁花少年 The Perks of Being a Wallflower (2012)</string>
	<string>窃听风暴 Das Leben der Anderen (2006)</string>
	<string>杀出个黎明 From Dusk Till Dawn (1996)</string>
	<string>M就是凶手 M (1931)</string>
	<string>飞屋环游记 Up (2009)</string>
	<string>八月迷情 August Rush (2007)</string>
	<string>吐司 Toast (2010)</string>
	<string>超级八 Super 8 (2011)</string>
</array>
</plist>
